/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

a {
    color: #2e9df6;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

#main-body {
    padding-left: 30px;
    padding-right: 30px;
    background-color: lightgray;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

#main-nav {
    background-color: #0094ff;
    color: black;
}

.navbar {
    background-color: #2e9df6 !important;
}

.navbar-inverse {
    background-color: #2e9df6 !important;
}

.navbar-inverse .btn-link {
    color: black;
}

.btn-link {
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-brand {
    margin: -5px;
}

#nav-text ul li a {
    color: black;
}

#nav-asp-page {
    color: black;
}

.view-text {
    color: black;
    margin-bottom: 10px;
    position: center;
}

#view-title {
    position:center;
    margin-bottom:10px;
}

#expired-head {
    position:center;
    margin-bottom:5px;
    margin-top:5px;
    color:white;
    background-color:darkorange;
}

#expired {
    color:darkorange;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

/* ==========HOMEPAGE========== */

/* User rating see homepage */
.starFilled {
  color: blue;
}

.flexMaster {
  display: flex;
  flex-direction: column;
}

.item {
  background-color: #ddd;
  margin: 5px 5px 15px;
  border-radius: 5px;
  border: solid rgba(0, 0, 0, 100);
  padding: 20px;
  display: flex;
  height: 25vh;
  min-height: 160px;
}

.item > .productImage {
  width: 25%;
  display: flex;
  justify-content: center;
}

.item > .productImage > img {
  height: 100%;
}

.item > .textContent {
  width: 100%;
  padding: 10px;
}

.textContent > div {
  display: flex;
}

.textContent > .Row1 {
  height: 75%;
  font-size: 2.5em;
  justify-content: space-between;

}
.textContent > .Row2 {
    height: 25%;
    font-size: 1em;
    justify-content: space-between;
}

.Row1 > a {
    font-size: 0.7em;
}