@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is a class project, and is not intended to provide legitimate coupons, links, or . . . anything, really.</p>
