@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h1>Contact Information</h1>
<p>
    If you are trying to contact us, please obtain two tin cans and a piece of string several miles in length.
</p>
