@page "{searchString?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- container -->
    <div class="row flexMaster">
        <!-- item -->

        @foreach (var item in Model.coupon)
        {
            <div class="item">
                <div class="textContent">
                    <div class="Row1">
                        <div class="itemDescription">@Html.DisplayFor(modelitem => item.Description)</div> <a href="/coupon/View?id=@Html.DisplayFor(modelitem => item.ID)" target="blank_">VIEW COUPON</a>
                    </div>
                    <div class="Row2">
                        <div class="itemUser">@Html.DisplayFor(modelitem => item.userSubmission)</div><div class="itemExpires">Expires <span class="itemExpiresSpan">@Html.DisplayFor(modelitem => item.Expiration)</span></div>
                    </div>
                </div>
            </div>
        }
    </div>