@page
@model Login_ErrorModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Login Required</h1>
<h3 class="text-danger">You must be a registered user to access some features.</h3>
<p>
   <a asp-area="Identity" asp-page="/Account/Register">Register</a> | 
   <a asp-area="Identity" asp-page="/Account/Login">Login</a>
</p>