@page
@model CouponTrackerWebsite.Pages.coupon.ViewModel

@{
    ViewData["Title"] = "View";
}


<h2 align="center" class="view-text">
    <font color="black">
        @Html.DisplayNameFor(model => model.coupon.title)
    </font>
</h2>

<body>
    <hr />
    <div class="view-text">
        <font color="black">
            <dl class="dl-horizontal">
                <dt style="text-align:right">
                    Code:
                </dt>
                <dd style="text-align:left">
                    @Html.DisplayNameFor(model => model.coupon.hyperlink)
                </dd>
            </dl>

            <p id="view-paragraph">
                COUPON DESCRIPION
            </p>
        </font>
    </div>

    <div class="view-text">
        <font color="black">
            <dl class="dl-horizontal">
                <dt style="text-align:right">
                    Expiration:
                </dt>
                <dd style="text-align:left">
                    (--/--/----)
                </dd>
            </dl>
        </font>
    </div>
</body>